<div class="container p-4">
    <div class="row">
        {{#each list_users}}
            <div class="card text-center prueba">
                <div class="card-body">
                 
                        <h3 class="card-title">
                            {{correo_user}}
                        </h3>

                    <p>{{nombre_user}}</p>
                    <p>{{ciudad_user}}</p>
                    <p>{{timeago fecha_user}}</p>
                    <a href="/links/delete/{{id_user}}" class="btn btn-danger">Eliminar</a>
                    <a href="/links/edit/{{id_user}}" class="btn btn-secondary">Editar</a>
                    <a href="" class="btn btn-secondary">Ver</a>
                </div>
            </div>
        {{else}}
            <div class="colmd-4 mx-auto">
                <h2>No hay registros</h2>
                <a href="/links/add">Agregar nuevo</a>
            </div>
        {{/each}}
    </div>
</div>